.page-docs {
  width: 70%;
  height: 100vh;
  overflow-y: auto;
  margin: auto;
  padding: 70px 10px 10px 10px;
}

.title-docs {
  color: #fff;
}

.subtitle-docs {
  color: #ddd;
  padding-bottom: 20px;
}

.section-details {
  width: 100%;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.content-details {
  font-size: 16px;
  font-weight: 500;
  color: #eee;
}



.title-section {
  color: #fff;
}

.tool-docs {
  color: #aaa;
  font-size: 16px;
}

.container-credentials {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.box-credential {
  display: flex;
  gap: 10px;
  align-items: center;
}

.note-credential {
  font-size: 16px;
  font-weight: 500;
  color: #ed2e2e;
}
.back-credential {
  border-radius: 5px;
  padding: 10px;
  background-color: #101010;
}
.credential {
  font-size: 16px;
  font-weight: 500;
}

.user-id {
  font-weight: bold;
}

.show {
  opacity: 1;
  visibility: visible;
  transition: 0.5s;
}

.button-show {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.message-docs {
    font-size: 16px; 
    color: greenyellow; 
    font-weight: 500;
    transform: translateY(16px);
    opacity: 0;
    visibility: hidden;
    transition: .5s; 
}

.hidden-message {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
    transition: .5s; 
}
.icon-copy {
    cursor: pointer; 
}


/* nueva apartir de acá */

.main-docs {
  width: 80%;
  height: 100vh;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 10px;
  padding: 70px 10px 10px 10px;
  margin: auto;
}

.aside-docs {
  width: 30%;
}

.title-aside-docs {
  color: #fff;
  padding-bottom: 12px;
}

.container-links-docs {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.link-docs {
  color: #aaa;
  text-decoration: none;
  font-size: 16px;
  transition: color .5s;

}
.link-docs:hover {
  color: #fff;
  transition: color .5s;
}

.section-page-docs {
  width: 70%;
  height: 100%;
  overflow-y: auto;
  color: #fff;
  display: flex; 
  flex-direction: column;
  gap: 10px;
}


.section-details-docs {
  width: 100%; 
  display: flex;
  flex-direction: column;
  gap: 5px;

}

.title-details-docs {
  color: #fff;
}


.details-docs {
  padding-bottom: 12px;
  color: #ccc;
}

.list-tools-docs {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.tool-docs {
  color: #aaa; 
  font-size: 16px;
}

.list-apis {
  display: flex; 
  flex-direction: column; 
  gap: 8px;
}

.item-api {
  display: flex; 
  align-items: center;
  gap: 12px;
}

@media (max-width: 768px) {
  .main-docs {
    width: 100%; 
    justify-content: space-between;
  }
}

@media (max-width: 425px) {
  .section-page-docs {
    width: 100%;
  }
  .aside-docs {
    width: 100%; 
  }
  .main-docs {
    flex-direction: column;
    height: auto;
  }
  .title-aside-docs {
    display: none; 
  }
  .container-links-docs {
    flex-direction: row;
    justify-content: space-between;
    gap: 0; 
    align-items: center; 
  }
}