.main-editor {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: flex-start;
  padding: 70px 10px 10px 10px;
  gap: 10px;
}

.title-form {
  color: #fff;
  font-size: 20px;
}

.section-metadates {
  width: 30%;
}

.section-editor {
  width: 70%;
  height: 100%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 12px;
  position: relative;
}

.container-buttons-form {
  display: flex;
  align-items: center;
  gap: 10px;
}

.section-metadates {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.container-input-metadates {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.label-metadates {
  color: #aaa; 
  font-size: 16px;
  font-weight: 500;
}

.input-metadates {
  padding: 10px;
  border-radius: 5px;
  background-color: transparent;
  border: 1px solid #151621;
  font-size: 16px;
  outline: none;
  color: #fff;
}

.input-metadates:focus {
  border-color: #2b2e46;
}

.check {
  flex-direction: row;
}

.toggle-chat-ai {
  font-size: 16px;
  background-color: transparent;
  border: none;
  color: #ddd;
  cursor: pointer;
  transition: color 0.5s;
}

.toggle-chat-ai:hover {
  color: #51588a;
  transition: color 0.5s;
}
.button-form {
  padding: 10px;
  border: none;
  background-color: #ddd;
  color: #000;
  font-size: 14px;
  font-weight: 500;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.5s ease-in-out;
  
}
.button-form:hover {
  box-shadow: 0 0 10px #5f5f5f;
}

.link-cancel-form {
  padding: 10px;
  border: none;
  background-color: #ddd;
  color: #000;
  font-size: 14px;
  font-weight: 500;
  border-radius: 5px;
  text-decoration: none;
  transition: 0.5s ease-in-out;
  background-color: #bd4242;
  color: #fff;
}

.link-cancel-form:hover {
  box-shadow: 0 0 10px #bd4242;
}

.title-loading-editor {
  font-size: 16px;
  font-weight: 500; 
  color: #aaa; 
}

@media (max-width: 425px) {
  .main-editor {
    flex-direction: column;
    height: auto;
  }
  .section-metadates {
    width: 100%; 
  }
  .section-editor {
    width: 100%;
  }
}

.tiptap {
  height: 100%;
  background-color: #11121a;
  color: #ddd;
  padding: 10px;
  border-radius: 5px;
}

.tiptap:focus {
  outline: none;
}

.tiptap ol {
  padding: 0 10px;
  margin-left: 8px;
}
.tiptap ul {
  padding: 0 10px;
  margin-left: 8px;
}
.tiptap li p {
  margin-top: 2px;
  margin-bottom: 2px;
}

pre {
  background: #1a1b26;
  border-radius: 5px;
  color: #fff;

  padding: 8px;
}

code {
  background: none;
  color: inherit;
  font-size: 14px;
  padding: 0;
}

a {
  cursor: pointer;
}

table {
  width: 100%;
  border-collapse: collapse; 
  
}

th {
  background-color: #000;
  color: #fff; 
  padding: 10px;

}

td {
  background-color: #ddd; 
  padding: 10px;
  color: #000;
}

th, td {
  border: 1px solid #aaa;
  position:relative; 
}
th::after,
td::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 6px;   
  height: 100%;
  cursor: col-resize;
}
table tr {
  border-bottom: 1px solid #aaa; 
}


blockquote {
  color: #ddd; 
  border-left: 4px solid #ddd;
  background-image: linear-gradient(to right, #2a2a2a81, transparent 20%);
  padding:3px 10px;
  font-style: italic;
  font-size: 16px;
}

