.page-post {
  width: 70%;
  height: 100vh;
  padding-top: 60px;
  margin: auto;
}

.markdown-dark {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  background-color: #101010;
  color: #cdd6f4;
  padding: 10px;
}

h1 {
  color: #fff;
  text-align: center;
  font-size: 40px;
  padding: 10px 10px 50px 10px;
}
h2 {
  color: #d5d5d5;
  padding-bottom: 14px;
}
h3 {
  color: #d5d5d5;
  padding-bottom: 6px;
}

li {
  color: #ddd;
  margin-bottom: 8px;
}

p {
  color: #b3b2b2;
  padding: 8px 0;
}

img {
  margin: auto;
  border-radius: 5px;
}

code {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 5px;
  background-color: #11121a;
  border-radius: 5px;
  padding: 10px;
}

pre {
  color: #8f97d0;
  font-size: 16px;
}

a {
  color: #00bfff;
}
strong {
  color: #eee;
}
table {
  width: 100%;
  border-collapse: collapse;
}

th {
  background-color: #000;
  color: #fff;
  padding: 10px;
}

td {
  background-color: #eee;
  padding: 10px;
  text-align: left;
  color: #101010;
}

tr td strong {
  color: #000;
}

th,
td {
  border: 1px solid #ccc;
}

table tr {
  border-bottom: 1px solid #ccc;
}

hr {
  margin: 14px 0;
}

@media (max-width: 768px) {
  .page-post {
    width: 100%;
    margin: 0;
    overflow-y: auto;
  }
}
