.section-topics {
  width: 100%;
  max-height: 200px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #151621;
  display: flex; 
  flex-direction: column;
  gap: 10px;
  justify-content: space-between;
  background-color: transparent;
}

.container-topics {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icon-arrow-topics {
  cursor: pointer;
}

.title-container-topics {
  color: #fff;
}

.list-topics {
  width: 100%;
max-height: 0;
  opacity: 0;
  visibility: hidden;
  display: flex;
  flex-direction: column;
  gap: 6px;
  transition: 0.5s ease-out; 
  display: none; 
  
}

.open-list-topics {
max-height: 100%;
overflow-y: auto;
  opacity: 1;
  visibility: visible;
  display: flex; 
}

.button-list-topics {
    width: 100%;
    padding: 10px;
    border: none; 
    border-radius: 5px;
    background-color: #151621;
    color: #ddd;
    text-align: left;
    cursor: pointer;    
    transition: background-color 0.3s ease-in-out;
    font-size: 16px;
    font-weight: 500;
}

.button-list-topics:hover {
    background-color: #1d1e2d;
}
